.footer-link a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 35px;
  }
  
  .gradient {
    background: rgb(0, 0, 2);
    background: linear-gradient(
      0deg,
      rgb(118, 216, 255) 0%,
      rgb(0, 0, 0) 100%
    );
  }
  .copyright {
    background-color: black;
  }
  
  .dropdown-menu.show {
    left: -126px;
    padding: 11px;
  }
  